<br>
<br>
<br>
<div class="row">
    <div class="col-md-5" *ngIf="member">
        <div class="card p-2">
            <img class="align-self-center img-thumbnail rounded-circle" width="200" height="200"
                src="data:image/jpeg;base64,{{ member.photo }}">
    
            <div class="row pt-5 mt-3 mb-5 justify-content-center">
                <div class="col-md-6 col-xl-9 p-2">
    
                    <div class="card-body">
                        <div>
                            <strong>Name</strong>
                            <p>{{ member.nom }}</p>
                        </div>
                        <div>
                            <strong>Last Name</strong>
                            <p>{{ member.prenom }}</p>
                        </div>
                        <!-- <div>
                            <strong>Diplome</strong>
                            <p>kk</p>
                        </div> -->
                        <div>
                            <strong>Age</strong>
                            <p>{{ member.dateNaissance | timeAgo }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group d-flex">
                            <button class="btn btn-primary w-100">Profile</button>
                            <button class="btn btn-success w-100">Edit</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-5">
        <tabset>
            <tab heading="Publication" id="tab1">
                <table class="table">
                    <tr>
                        <th>Type</th>
                        <th>Lien</th>
                        <th>Date</th>
                    </tr>
                    <tr *ngFor="let publication of posts | async">
                        <td>{{ publication.type }}</td>
                        <td>{{ publication.lien }}</td>
                        <td>{{ publication.dateApparition }}</td>
                    </tr>
                </table>
            </tab>
            <tab heading="">Interests</tab>
            <tab heading="Others">Others</tab>
        </tabset>
    </div>
</div>
