<div class="row pt-5 mt-3 mb-5 justify-content-center">
  <div class="col-md-11 col-xl-9 p-2">
    <h1>Upcoming Events list</h1>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">date</th>
          <th scope="col">lieu</th>
          <th scope="col">name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{event.id}}</td>
          <td>{{event.dateEvt}}</td>
          <td>{{event.lieu}}</td>
          <td>{{event.nom}}</td>
        </tr>

      </tbody>
    </table>

    <h1>Events calendar</h1>
    <div id="calendar"></div>
  </div>
</div>