table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
th.mat-header-cell
{
  background-color:#444444;
  color: white;
}

/*.img-thumbnail{
  margin:20px;
  width:85% ;
  height: 85%;
}*/
/*.card-body{
  padding:  0 25px;
 
}
.card-footer{
  padding:  5 45px;
}
.card{
  //width: 200%;
  clear:right;
}*/